@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle bibliotecário de prateleiras</h1>
    <p class="lead">Sistema para realizar controle das prateleiras da biblioteca.</p>
</div>
